{% extends 'base.html.twig' %}

{% block title %}Index de gestion des utilisateurs{% endblock %}
{% block body %}
    <div class="d-flex">
        <a href="{{ path('admin_home') }}">
            <img src="{{ asset('images/return.png') }}" class="m-2 p-2" width="70" height="60" alt="">
        </a>
        <div class="h1 m-auto">Index de gestion des utilisateurs</div>
    </div>

    <div class="responsive-table-line" style="margin:0 auto;max-width:1700px;">
        <table class="table table-bordered table-condensed table-body-center">
            <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Status</th>
                <th>Crée le ...</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.status }}</td>
                    <td>{{ user.createdAt ? user.createdAt|date('d/m/Y H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('admin_user_show', {'id': user.id}) }}">
                            <img src="{{ asset('images/detail.png') }}" alt="détail">
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="11">Aucun élément enregistré</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
