{% extends 'base.html.twig' %}

{% block title %}Index de gestion des utilisateurs{% endblock %}

{% block body %}
    <h1>Index de gestion des utilisateurs</h1>

<div class="responsive-table-line" style="margin:0 auto;max-width:1700px;">
    <table class="table table-bordered table-condensed table-body-center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Actif</th>
                <th>Crée le ...</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.active }}</td>
                <td>{{ user.createdAt ? user.createdAt|date('d/m/Y H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_user_show', {'id': user.id}) }}"><img src="{{ asset('images/detail.png') }}" alt="détail"></a>
                    <a href="{{ path('admin_user_edit', {'id': user.id}) }}"><img src="{{ asset('images/svg/edition.png') }}" alt=""></a>
                </td>
            </tr>
        {% else %}
            <tr>
                    <td colspan="11">Aucun élément enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
