{% extends 'base.html.twig' %}

{% block title %}Index de gestion des utilisateurs{% endblock %}

{% block body %}
    <h1>Index de gestion des utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Adresse email</th>
                <th>Roles</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Active</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.active }}</td>
                <td>
                    <a href="{{ path('admin_user_show', {'id': user.id}) }}"><img src="{{ asset('images/detail.png') }}" alt="detail"></a>
                    <a href="{{ path('admin_user_edit', {'id': user.id}) }}"><img src="{{ asset('images/svg/edition.png') }}" alt="edition"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun élément enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_user_new') }}"><img src="{{ asset('images/svg/create.png') }}" alt="Création d'un élément"></a>
{% endblock %}
