{% extends 'base.html.twig' %}

{% block title %}Utilisateur {{ user.name }}{% endblock %}

{% block body %}
    <div class="d-flex">
        <a href="{{ path('admin_user_index') }}">
            <img src="{{ asset('images/return.png') }}" class="m-2 p-2" width="70" height="60" alt="">
        </a>
        <div class="h1 m-auto">Utilisateur {{ user.name }}</div>
    </div>

    <div class="responsive-table-line">
        <table class="table table-bordered table-condensed table-body-center">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ user.status }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Date de creation du compte</th>
                <td>{{ user.createdAt ? user.createdAt|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            {% if user.adresse %}
                <tr>
                    <th>Adresse</th>
                    <td>{{ user.adresse }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>Avatar</th>
                <td><img src="/images/{{ user.avatar }}" alt="avatar"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-center" title="Éditer">
        <a data-target="{{ path('admin_user_editStatus', {'id': user.id}) }}" data-tooltip="voir"
           class="font-weight-bold tooltipped modal-trigger right-align"
           href="#modal1">
            <img class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#centralModalSm"
                 src="{{ asset('images/svg/edition.png') }}" alt="édition">
        </a>
    </div>

    {{ include('Admin/user/_delete_form.html.twig') }}
    <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <!-- Change class .modal-sm to change the size of the modal -->
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title w-100" id="myModalLabel">Modifier le status</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            //On écoute le "click" sur le bouton ayant la classe "modal-trigger"
            $('.modal-trigger').click(function () {
                //On initialise les modales materialize
                $('.modal').modal();
                //On récupère l'url depuis la propriété "Data-target" de la balise html a
                url = $(this).attr('data-target');
                //on fait un appel ajax vers l'action symfony qui nous renvoie la vue
                $.get(url, function (data) {
                    //on injecte le html dans la modale
                    $('.modal-content').html(data);
                    //on ouvre la modale
                    $('#modal1').modal();
                });
            })
        });
    </script>
{% endblock %}

