{% extends 'base.html.twig' %}

{% block title %}Index de gestion des stocks{% endblock %}

{% block body %}
    <h1>Index de gestion des stocks</h1>

<div class="responsive-table-line" style="margin:0 auto;max-width:1700px;">
    <table class="table table-bordered table-condensed table-body-center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantité</th>
                <th>Mise a jour le ...</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.id }}</td>
                <td>{{ stock.quantity }}</td>
                <td>{{ stock.majAt ? stock.majAt|date('d/m/Y H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_stock_show', {'id': stock.id}) }}"><img src="{{ asset('images/detail.png') }}" alt="detail"></a>
                    <a href="{{ path('admin_stock_edit', {'id': stock.id}) }}"><img src="{{ asset('images/svg/edition.png') }}" alt="edition"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun élément enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a href="{{ path('admin_stock_new') }}"><img src="{{ asset('images/svg/create.png') }}" alt="Création d'un élément"></a>
{% endblock %}
