{% extends 'base.html.twig' %}

{% block title %}Stock{% endblock %}

{% block body %}
    <h1>Stock</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stock.id }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ stock.quantity }}</td>
            </tr>
            <tr>
                <th>Maj_at</th>
                <td>{{ stock.majAt ? stock.majAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_stock_index') }}">back to list</a>

    <a href="{{ path('admin_stock_edit', {'id': stock.id}) }}">edit</a>

    {{ include('Admin/stock/_delete_form.html.twig') }}
{% endblock %}
