{% extends 'base.html.twig' %}

{% block title %}Orders n°{{ order.nCmd }}{% endblock %}

{% block body %}
    <div class="d-flex">
            <a href="{{ path('admin_orders_index') }}">
                <img src="{{ asset('images/return.png') }}" class="m-2 p-2" width="70" height="60" alt="">
            </a>
            <div class="h1 m-auto">Orders</div>
    </div>

<div class="responsive-table-line" style="margin:0 auto;max-width:1700px;">
    <table class="table table-bordered table-condensed table-body-center">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>Quantitée</th>
                <td>{{ order.quantity }}</td>
            </tr>
            <tr>
                <th>Crée le ...</th>
                <td>{{ order.createdAt ? order.createdAt|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ order.total }}</td>
            </tr>
            <tr>
                <th>Validation</th>
                <td>{{ order.validation }}</td>
            </tr>
            <tr>
                <th>NCmd</th>
                <td>{{ order.nCmd }}</td>
            </tr>
        </tbody>
    </table>
</div>
    {{ include('Admin/orders/_delete_form.html.twig') }}
{% endblock %}
