{% extends 'base.html.twig' %}

{% block title %}Édition de la News "{{  news.title }}"{% endblock %}

{% block body %}
    <h1>Édition de la News "{{  news.title }}"</h1>

    {{ include('Admin/news/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_news_index') }}"><img src="{{ asset('images/svg/return.png') }}" alt="">Retouner au menu précédent</a>

    {{ include('Admin/news/_delete_form.html.twig') }}
{% endblock %}
