{% extends 'base.html.twig' %}

{% block title %}Index de gestion des news{% endblock %}

{% block body %}
    <div class="d-flex">
        <a href="{{ path('admin_home') }}">
            <img src="{{ asset('images/return.png') }}" class="m-2 p-2" width="70" height="60" alt="">
        </a>
        <div class="h1 m-auto">Index de gestion des news</div>
    </div>

<div class="responsive-table-line" style="margin:0 auto;max-width:1700px;">
    <table class="table table-bordered table-condensed table-body-center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Image</th>
                <th>Crée le ...</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for news in news %}
            <tr>
                <td>{{ news.id }}</td>
                <td>{{ news.Title }}</td>
                <td>{{ news.content }}</td>
                <td>{{ news.filename }}</td>
                <td>{{ news.createdAt ? news.createdAt|date('d/m/Y H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_news_show', {'id': news.id}) }}"><img src="{{ asset('images/detail.png') }}" alt="détail"></a>
                    <a href="{{ path('admin_news_edit', {'id': news.id}) }}"><img src="{{ asset('images/svg/edition.png') }}" alt="edition"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun élément enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a href="{{ path('admin_news_new') }}"><img src="{{ asset('images/svg/create.png') }}" alt="Création d'un élément"></a>
{% endblock %}
