{% extends 'base.html.twig' %}

{% block title %}Édition du produit {{ product.name }}{% endblock %}

{% block body %}
    <h1>Édition du produit {{ product.name }}</h1>

    {{ include('Admin/product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_product_index') }}"><img src="{{ asset('images/svg/return.png') }}" alt="">Retouner au menu précédent</a>

    {{ include('Admin/product/_delete_form.html.twig') }}
{% endblock %}
