{% extends 'base.html.twig' %}

{% block title %}Index de gestion des produits{% endblock %}

{% block body %}
    <h1>Index de gestion des produits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Grande image</th>
                <th>Petite image</th>
                <th>Unité de vente</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.imgJPG }}</td>
                <td>{{ product.imgPNG }}</td>
                <td>{{ product.Unity }}</td>
                <td>
                    <a href="{{ path('admin_product_show', {'id': product.id}) }}"><img src="{{ asset('images/detail.png') }}" alt="detail"></a>
                    <a href="{{ path('admin_product_edit', {'id': product.id}) }}"><img src="{{ asset('images/svg/edition.png') }}" alt="edition"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun élément enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_product_new') }}"><img src="{{ asset('images/svg/create.png') }}" alt="Création d'un élément"></a>
{% endblock %}
