{% extends 'base.html.twig' %}

{% block title %}Index de gestion des produits{% endblock %}

{% block body %}
    <div class="d-flex">
        <a href="{{ path('admin_home') }}">
            <img src="{{ asset('images/return.png') }}" class="m-2 p-2" width="70" height="60" alt="">
        </a>
        <div class="h1 m-auto">Index de gestion des produits</div>
    </div>

<div class="responsive-table-line" style="margin:0 auto;max-width:1700px;">
    <table class="table table-bordered table-condensed table-body-center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Grande image</th>
                <th>Petite image</th>
                <th>Unité de vente</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td><img src="{{ vich_uploader_asset(product.picture, 'imageFile') | imagine_filter('thumb')}}" alt="{{ product.name }}.jpg"></td>
                <td><img src="/images/product/{{ product.filenamePng }}" width="100px" alt="{{ product.name }}.png"></td>
                <td>{{ product.Unity }}</td>
                <td>
                    <a href="{{ path('admin_product_show', {'id': product.id}) }}"><img src="{{ asset('images/detail.png') }}" alt="detail"></a>
                    <a href="{{ path('admin_product_edit', {'id': product.id}) }}"><img src="{{ asset('images/svg/edition.png') }}" alt="edition"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun élément enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a href="{{ path('admin_product_new') }}"><img src="{{ asset('images/svg/create.png') }}" alt="Création d'un élément"></a>
{% endblock %}
