{% extends 'base.html.twig' %}

{% block title %}Produit {{ product.name }}{% endblock %}

{% block body %}
    <h1>Produit</h1>

    <div class="responsive-table-line" style="margin:0 auto;max-width:1700px;">
        <table class="table table-bordered table-condensed table-body-center">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Grande image</th>
                <td>{{ product.imgJPG }}</td>
            </tr>
            <tr>
                <th>Petite image</th>
                <td>{{ product.imgPNG }}</td>
            </tr>
            <tr>
                <th>Unitée de vente</th>
                <td>{{ product.Unity }}</td>
            </tr>
        </tbody>
    </table>
</div>
    <a href="{{ path('admin_product_index') }}"><img src="{{ asset('images/svg/return.png') }}" alt="">Retouner au menu précédent</a>

    <a href="{{ path('admin_product_edit', {'id': product.id}) }}"><img src="{{ asset('images/svg/edition.png') }}" alt="edition"></a>

    {{ include('Admin/product/_delete_form.html.twig') }}
{% endblock %}
