{% extends 'base.html.twig' %}
{% block title %}Page d'accueil-Les terres d'aris{% endblock %}
{% block body %}
    <div class="container">
        <div class="grid wow fadeInUp">
            {% for product in products %}
                <div class="card">
                    <a href="{{ path('public_product_show', {'id' : product.id}) }}"
                       class="text-center m-auto card-img-top">
                        <img class="img_png" src="/{{ product.imgPNG }}" alt="{{ product.name }} small">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">{{ product.name |capitalize }}</h4>
                        <p class="card-text font-weight-bold">{{ product.description |slice(0, 100) }}...</p>
                        <a href="{{ path('public_product_show', {'id' : product.id}) }}">
                            <button>En savoir plus</button>
                        </a>
                        {% if product.stock.quantity < 1 %}
                            <div class="text-center mt-2">
                                <img src="{{ asset('images/svg/danger.svg') }}" alt="">
                                <p>Ce produit est malheureusement en rupture de stock</p>
                            </div>
                        {% elseif product.stock.quantity < 30 %}
                            <div class="text-center mt-2">
                                <img src="{{ asset('images/svg/warning.svg') }}" alt="">
                                <p>Ce produit est bientot en rupture de stock dêpechez vous!</p>
                            </div>
                        {% endif %}
                        <div class="font-weight-bold">{{ product.price }}€ / {{ product.unity }}</div>
                        {% if product.stock.quantity > 0 %}
                        <form action="{{ path('cart_add', {'id': product.id }) }}" class="mt-2  cartAdd" method="post">
                            <div class="def-number-input number-input safari_only m-auto">
                                <button type="button"
                                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                        class="minus"></button>
                                <input id="plus-moins" class="quantity" min="0" name="quantity" value="1"
                                       type="number">
                                <button type="button"
                                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                        class="plus">
                                </button>
                            </div>
                            <button class="btn btn-primary">
                                <img class="m-auto" src="{{ asset('images/svg/caddie.svg') }}" width="20" alt="">
                            </button>
                            {% endif %}
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}



